<div class="main-container">
    <h1>Create New Item</h1>
    {{#hasBarcode barcode}} {{!-- Render barcode field, showing the item will be created with a barcode --}}
    <form method="post" action="/createItem" enctype="multipart/form-data" id="createItem">
        <div class="form-group">
            <label for="itemName">Item name</label>
            <input type="text" class="form-control is-valid" name="itemName" id="itemName" placeholder="Enter item name..."
                value={{@root.itemName}} required>
            <div id="badItemName" class="invalid-feedback" style="display: none">A valid
                Item name should be between 4 and 20 characters with no special characters.</div>
        </div>
        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type='number' class="form-control" name="quantity" id="quantity" placeholder="Enter quantity..."
                required>
            <div id="badQuantityNumber" class="invalid-feedback" style="display: none">A valid
                Quantity number should be between 1 and 3 digits.</div>
        </div>
        <div class="form-group">
        
            <label for="weight">Bearcat Bucks</label>
            <input type='number' class="form-control" name="weight" id="weight" placeholder="Enter Bearcat Bucks..."
                required>

            <div id="badWeightNumber" class="invalid-feedback" style="display: none">A valid
                Weight number is between 1 and 3 digits.</div>
        </div>
        <div class="form-group">
            <label for="image">Image</label>
            <div class="custom-file">
                <label class="custom-file-label" for="image">Choose file</label>
                <input type="file" accept="image/x-png,image/gif,image/jpeg" name="image" class="custom-file-input"
                    id="image">

            </div>
        </div>
        <div class="form-group">
            <label for="barcode">Barcode</label>
            <input type="number" class="form-control is-valid" name="barcode" id="barcode" value={{@root.barcode}}
                readonly="readonly">
                
        </div>
        <input type="submit" class="btn btn-primary" disabled="disabled" id="addButton" value="Add Item">
    </form>
    {{else}} {{!-- we don't have a barcode, don't show a value for it --}}
    <form method="post" action="/createItem" enctype="multipart/form-data" id="createItem">
        <div class="form-group">
            <label for="itemName">Item name</label>
            <input type="text" class="form-control is-valid" name="itemName" id="itemName" placeholder="Enter item name..."
                value={{@root.itemName}} required>
            <div id="badItemName" class="invalid-feedback" style="display: none">A valid
                Item name should be between 4 and 20 characters with no special characters.</div>
        </div>
        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type='number' class="form-control" name="quantity" id="quantity" placeholder="Enter quantity..."
                required>
            <div id="badQuantityNumber" class="invalid-feedback" style="display: none">A valid
                Quantity should be between 1 and 3 digits.</div>
        </div>
        <div class="form-group">
            <label for="weight">Bearcat Bucks</label>
            <input type='number' class="form-control" name="weight" id="weight" placeholder="Enter Bearcat Bucks..."
                required>
            <div id="badWeightNumber" class="invalid-feedback" style="display: none">A valid
                Weight number should be between 1 and 3 digits.</div>
        </div>
        <div class="form-group">
            <label for="image">Image</label>
            <div class="custom-file">
                <label class="custom-file-label" for="image">Choose file</label>
                <input type="file" accept="image/x-png,image/gif,image/jpeg" name="image" class="custom-file-input"
                    id="image">
            </div>
        </div>
        <input type="hidden" class="form-control" name="barcode" id="barcode" value={{barcode}}>
        <input type="submit" class="btn btn-primary" disabled="disabled" id="addButton" value="Add Item">
    </form>
    {{/hasBarcode}}
</div>