<div class="main-container">
    {{#if items}}
    <h4> Items in the database</h4>
    <div class="card-container">
        {{#each items}}
        <div class="card mb-3 item-container">
            <h4 class="card-header">{{this.itemName}}</h4>
            <img class="item-image" src="data:{{this.img.contentType}};base64,{{this.actualImage}}" alt="Card image">
            <div class="card-body">
                <p class="card-text">Amount left: {{this.quantity}}</p>
                <form method="post" action="/addToCart" class="add-to-cart-button">
                    <input type="hidden" name="itemName" value={{this.itemName}}></input>
                    <button type="submit" class="btn btn-primary" title="Add to cart">Add to cart
                    </button>
                </form>
            </div>
        </div>
        {{/each}}
    </div>

    {{else}}
    <li class="list-group-item">
        <h4 class="text-center">
            No items found
        </h4>
    </li>
    {{/if}}
</div>