<div class="main-container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link focus active show tab-style" data-toggle="tab" href="#newItem">Add New Item</a>
        </li>
        <li class="nav-item">
            <a class="nav-link show" data-toggle="tab" href="#editItem">Edit Existing Items</a>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active focus show" id="newItem">
            <h1>Add an item to the pantry</h1>
            <div class="new-item-container">
                <form name="form_one" method="post" action="/addItem" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="itemName">Item name</label>
                        <input type="text" class="form-control" name="itemName" id="itemName" placeholder="Enter item name..."
                            required>
                    </div>
                    <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <input type="text" class="form-control" name="quantity" id="quantity" placeholder="Enter quantity..."
                            required>
                    </div>
                    <div class="form-group">
                        <label for="weight">Weight</label>
                        <input type="text" class="form-control" name="weight" id="weight" placeholder="Enter weight..."
                            required>
                    </div>
                    <div class="form-group">
                        <div id='barcode-scanner'></div>
                        <label for="barcode">Barcode</label>
                        <input id="scanner_input" class="form-control" placeholder="Click the button to scan an EAN..." type="text" />
                        <button class="btn btn-default" type="button" data-toggle="modal" data-target="#livestream_scanner">
                    </div>             
                    <div class="form-group">
                        <label for="image">Image</label>
                        <div class="custom-file">
                            <label class="custom-file-label" for="image">Choose file</label>
                            <input type="file" name="image" class="custom-file-input" id="image">
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Add Item">
                </form>
            </div>
        </div>  
        <div class="modal" id="livestream_scanner">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Barcode Scanner</h4>
                    </div>
                    <div class="modal-body" style="position: static">
                        <div id="interactive" class="viewport"></div>
                        <div class="error"></div>
                    </div>
                    <div class="modal-footer">
                        <label class="btn btn-default pull-left">
                            <i class="fa fa-camera"></i> Use camera app
                            <input type="file" accept="image/*;capture=camera" capture="camera" class="hidden" />
                        </label>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <style>
            #interactive.viewport {position: relative; width: 100%; height: auto; overflow: hidden; text-align: center;}
            #interactive.viewport > canvas, #interactive.viewport > video {max-width: 100%;width: 100%;}
            canvas.drawing, canvas.drawingBuffer {position: absolute; left: 0; top: 0;}
        </style>
        <div class="tab-pane fade" id="editItem">
            {{#if items}}
            <h4> Items in the database</h4>
            <div class="card-container">
                {{#each items}}
                <div class="card mb-3 item-container" style="max-width: 20rem;">
                    <div class="card-header">
                        <div class="item-header">
                            <div class="item-header-text">{{this.itemName}}</div>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{this.itemName}}Modal">Edit</button>
                            <!-- The modal -->
                            <div class="modal" id="{{this.itemName}}Modal">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Edit {{this.itemName}}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- Form inside of modal -->
                                            <form method="post" action="/updateItem">
                                                <input type="hidden" name="oldItemName" id="oldItemName" value={{this.itemName}}>
                                                <div class="form-group">
                                                    <label for="itemName">Item Name</label>
                                                    <input type="text" onClick="this.select();" class="form-control"
                                                        name="newItemName" id="newItemName" value={{this.itemName}}>
                                                </div>
                                                <div class="form-group">
                                                    <label for="quantity">Quantity</label>
                                                    <input type="text" onClick="this.select();" class="form-control"
                                                        name="quantity" id="quantity" value={{this.quantity}}>
                                                </div>
                                                <div class="form-group">
                                                    <label for="weight">Weight Value</label>
                                                    <input type="text" onClick="this.select();" class="form-control"
                                                        name="weight" id="weight" value={{this.weight}}>
                                                </div>
                                                <div class="modal-body">
                                                    <!-- Form inside of modal -->
                                                    <form method="post" action="/updateItem">
                                                        <input type="hidden" name="oldItemName" id="oldItemName" value={{this.itemName}}>
                                                        <div class="form-group">
                                                            <label for="itemName">Item Name</label>
                                                            <input type="text" onClick="this.select();" class="form-control" name="newItemName" id="newItemName" value={{this.itemName}}>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="quantity">Quantity</label>
                                                            <input type="text" onClick="this.select();" class="form-control" name="quantity" id="quantity" value={{this.quantity}}>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="weight">Weight Value</label>
                                                            <input type="text" onClick="this.select();" class="form-control" name="weight" id="weight" value={{this.weight}}>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <input type="submit" class="btn btn-danger" formaction="/deleteItem" value="Delete {{this.itemName}}"></button>
                                                            <input type="submit" class="btn btn-primary" value="Save change">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </form>
                                                <div class="modal-footer">
                                                    <input type="submit" class="btn btn-danger" formaction="/deleteItem"
                                                        value="Delete {{this.itemName}}"></button>
                                                    <input type="submit" class="btn btn-primary" value="Save change">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <img class="item-image" src="data:{{this.img.contentType}};base64,{{this.actualImage}}">

                    <div class="card-body">
                        <p class="card-text">Total: {{this.quantity}}</p>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Weight: {{this.weight}}</p>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        {{else}}
        <li class="list-group-item">
            <h4 class="text-center">
                No items found
            </h4>
        </li>
        {{/if}}
    </div>
</div>


