<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link focus active show tab-style" data-toggle="tab" href="#newItem">Add New Item</a>
  </li>
  <li class="nav-item">
    <a class="nav-link show" data-toggle="tab" href="#editItem">Edit Existing Items</a>
  </li>
</ul>

<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active focus show" id="newItem">
    <h1>Add an item to the pantry</h1>
    <div class="new-item-container">
      <form method="post" action="/addItem" enctype="multipart/form-data">
        <div class="form-group">
          <div class="form-group">
            <label for="itemName">Item name</label>
            <input type="text" class="form-control" name="itemName" id="itemName" placeholder="Enter item name..."
              required>
          </div>
          <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="text" class="form-control" name="quantity" id="quantity" placeholder="Enter quantity..."
              required>
          </div>
          <div class="form-group">
            <label for="weight">Weight</label>
            <input type="text" class="form-control" name="weight" id="weight" placeholder="Enter weight..." required>
          </div>
          <div class="form-group">

            <label for="image">Image</label>

            <div class="custom-file">
              <label class="custom-file-label" for="image">Choose file</label>
              <input type="file" name="image" class="custom-file-input" id="image">
            </div>
          </div>
          <input type="submit" class="btn btn-primary" value="Add Item">
      </form>
    </div>
  </div>
</div>
<div class="tab-pane fade" id="editItem">
  {{#if items}}
  <h4> Items in the database</h4>
  <div class="card-container">
    {{#each items}}
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-header">
        <div class="item-header">
          <div class="item-header-text">{{this.itemName}}</div>
          <button type="button" class="btn btn-primary">Edit</button>
        </div>
      </div>
      <div class="card-body">
        <img class="item-image" src="data:{{this.img.contentType}};base64,{{this.actualImage}}">
        <br>
        Total: {{this.quantity}}
      </div>
    </div>
    {{/each}}
  </div>

  {{else}}
  <li class="list-group-item">
    <h4 class="text-center">
      No items found
    </h4>
  </li>
  {{/if}}
</div>
</div>